body{
background-color: rgb(255, 193, 204);
color:rgb(255, 255, 255);
font-family: "Libertinus Math", system-ui;
}
header{
    font-size: 50px;
    border:inset 5px rgb(228, 167, 178);
}
h1{
  font-size: 30px;
}
p{
  font: size 25px;
}