body{
background-color: rgb(255, 193, 204);
color:rgb(255, 255, 255);
font-family: "Libertinus Math", system-ui;
margin: 0px;
}
header{
    font-size: 50px;
    border:inset 5px rgb(255, 227, 227);
    text-align: center;
    /*margin: 10px;*/
    padding: 10px;
}
h1{
  font-size: 30px;
}
p{
  font: size 25px;
}