body{
background-color: rgb(114, 4, 4);
color:rgb(255, 255, 255);
font-family: "Libertinus Math", system-ui;
margin: 0px;
}
header{
    font-size: 50px;
    border:inset 5px rgb(129, 13, 13);
    text-align: center;
    /*margin: 10px;*/
    padding: 10px;
}
h1{
  font-size: 30px;
}
p{
  font: size 25px;
}

.chamada{
background-color: rgb(102, 14, 14);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
margin-right: 10%;
}

img{
  width: 200px;
  height: 300px;
}
.Verifique outras recomendações{
  display: flex;
  overflow: -x:auto;
  gap: 10px;
  padding-left: 20px;
}

h2{
  padding-left: 30px;
}

body{
  padding-bottom: 40px;
}